.user-image{
    width: 25px;
    margin-right: 5px;
}

.pd-sm-x-30 {
    padding-left: 0px !important;
    padding-right: 0px  !important;
}


.options i{
    padding:0 5px;
}
i.fa.fa-trash{
    color:#dc3545;
}
/* i.fa.fa-edit{
    color: cornflowerblue;
} */
i.fa.fa-eye{
    color:#00b297;
}
.user-info{
    margin-left: 35px;
}

.label{
    background-color:#212529;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
}
.label-success{
    background-color:#00b297;
}
.label-info{
    background-color:#0866C6;
}
.label-warning{
    background-color:#F49917;
}
.label-danger{
    background-color:#dc3545;
    color: aliceblue;
}









/* skills view */
/* skills view */
/* skills view */
/* skills view */

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.skills li {
    float: left;
    margin: 5px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
}
.skills li:nth-child(odd){
    background-color: #dc3545;
    opacity: 0.9;
}
.skills li:nth-child(even){
    background-color: #0866C6;
    opacity: 0.9;
}

/* Change the link color to #111 (black) on hover */
.skills li:hover {
    background-color: black;
}
.small li{
    padding: 8px 10px;
    font-size: 10px;
}

.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin-bottom: 50px;
}

li.nav-item {
    font-size: 11px;
}



/* tab-panels in profile */
.tab-panel {
    display: none;
    width: 100%;
}
.active {
    display: block;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 5px;
}
.circle-success{
   background-color: #00b297;

}
.circle-error{
   background-color: #dc3545;
}
.display-flex{
    display: flex;
    justify-content: space-between;
}
.left img{
    border-radius: 50px;
}
.right{
    margin-left: 5%;
    margin-top: 5px;
}

.contracts .col-sm-6.col-lg-6 {
    margin-bottom: 5%;
}

.row.align-items-center.mg-t-5 {
    margin-bottom: 20px;
}

.statistics{
    margin-bottom: 5% !important;
}




.top-preformance-user{
    border-radius: 200px;
}



/* modal */
/* modal */
/* modal */

#add-skill-modal{
    display: none;
}

/* alert */
/* alert */
/* alert */
.d-flex.align-items-center.justify-content-start{
    margin-top: 15px !important;
}


label.form-control-label.is-invalid {
    color: #dc3545;
}
.form-error{
    color: #dc3545;
}



.media-list.notifications {
    height: 130px;
    overflow: scroll;
}
